<section class="login loginWrap">
    <span class="loginWrap__vaAid"></span>
    <div class="loginWrap__wrap loginBlock">
        <img src="../../assets/logo.png" alt="Logo" class="loginBlock__logo">
    
        <form name="loginVerification" novalidate>
            <div class="loginInputIconWrap liiw--username">
                <input class="loginInput" type="text" name="username" placeholder="请输入用户名" [ngModel]="username" required>
                <span class="liiw__icon"></span>
            </div>
            <div class="loginInputIconWrap liiw--password js-liiw--password loginInputIconWrap--mgn0">
                <input class="loginInput" type="password" name="password" placeholder="请输入密码" [ngModel]="password" required>
                <span class="liiw__icon"></span>
            </div>
            <button class="loginBtn" (click)="loginSubmit()">登&emsp;录</button>
        </form>
    </div>
    
    <div class="pic_code"></div>
    <app-comm-loading></app-comm-loading>
</section>